//- - var logined = username?true:false;
//- - var msg = #{t("header.round")}
doctype html
include ./_partials/banner.pug

html(lang='en')
  head
    //- header css
    include ./_partials/head.pug
    block canonical
    block styles
  body
    div hello
    scripts
      include ./_partials/scripts.pug
